.button-nav1 {
    cursor: pointer;
    background-color: #12629E;
    border-radius: 5px;
    border-width: 0px;
    border-style: none;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    transition: all 0.4s ;
    padding: 11px 23px;
    margin-left: 20px;
}
.button-nav1:hover {
    opacity: 0.8;
}

.navbar-nav {
    gap:15px;

}

.blog-header {
    border-bottom: 1px solid #e5e5e5;
}
.ml-0 {
    margin-left: 0px;
}